/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

/* Caja principal */
.login-box{
    width: 90%;
    max-width: 400px;
    margin: 80px auto;
    background-color: white;
    padding: 25px;
    border: 1px solid #ccc;
}

/* Títulos */
.login-box h1{
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 10px;
}

.login-box p{
    text-align: center;
    margin-bottom: 15px;
}

/* Formulario */
.login-box label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.login-box input,
.login-box select,
.login-box textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.login-box textarea{
    resize: vertical;
}

/* Botón */
.login-box button{
    width: 100%;
    padding: 10px;
    background-color: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover{
    background-color: #1d4ed8;
}

/* Links */
.login-box a{
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #2563eb;
    text-decoration: none;
}

.login-box a:hover{
    text-decoration: underline;
}

/* Línea */
.login-box hr{
    margin-top: 15px;
    margin-bottom: 15px;
}